<h1> Ingredients </h1>

<h3>Here are your ingredients</h3>
<% if @ingredients.any?() %>
<% @ingredients.each() do |ingredient| %>
<ul>
  <li><%=ingredient.name()%></a></li>
</ul>
  <%end%>
<%else%>
  <p>you have no ingredients, Loser!</p>
  <%end%>

  <form action='/ingredient_save/' method='post'>
  <label for='ingredient_name'> Add ingredient: </label>
  <input id='ingredient_name' name='ingredient_name' type='text'>
  <button type='submit' class='btn btn-success'> Add ingredient </button>
</form>
